input[name="page-length-option_length"] {
    display: block !important;
    border: solid #ffffff 1px !important;
}

th,
td {
    text-align: center;
    border: 1px #ffffff solid !important;
    padding: 8px;
    background: black !important;
    color: #ffffff !important;
}

input {
    color: #ffffff !important;
    border: 2px #ffffff solid!important;
    background: #ffffff1c!important;
    border-radius: 1rem!important;
    padding-left: 23px!important;
    margin-right: 20px!important;
    width: 85%!important;
}

textarea {
    color: #ffffff !important;
    border: 2px #ffffff solid!important;
    background: #ffffff1c!important;
    border-radius: 1rem!important;
    padding-left: 23px!important;
    margin-right: 20px!important;
}

.br-1 {
    border-radius: 1rem!important;
}

img {
    max-width: 280px;
    margin-top: 10px;
}

.fileupload {
    padding: 10px;
    margin: 10px 0 0 40px;
}

label {
    color: #ffffff !important;
    margin-left: 12px !important;
}

select {
    color: #ffffff !important;
}

.heading {
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    font-family: auto;
    font-size: x-large;
    margin: 20px 0 15px 40px;
    text-decoration-line: underline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ffffff;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ffffff;
}

.edit {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    border: 2px #ffffff solid!important;
    border-radius: 1rem!important;
}

.delete {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #b82e1f 74%);
    border: 2px #ffffff solid!important;
    border-radius: 1rem!important;
}

.submit {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    border: 2px #ffffff solid!important;
    border-radius: 1rem!important;
}

.submit-1 {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
    border: 2px #ffffff solid!important;
    border-radius: 1rem!important;
}

.sidenav .navigation-header .navigation-header-text {
    font-size: .85rem;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    margin: 0;
    padding: 0 !important;
    color: #515aa5 !important;
}

.sidenav .navigation-header .navigation-header-text:hover {
    background-color: transparent !important;
}

.colour {
    color: white!important;
}

.white {
    background-color: #0f0d0d!important;
}

.scrollbar {
    margin-left: 23px;
    height: auto;
    overflow-y: scroll;
    margin-bottom: 25px;
    margin-right: 10px;
    max-height: 390px;
}

.grade {
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #f99f24 74%);
}

.collapsible-body {
    color: #ffffff !important;
}

.card-title {
    /* background-color: #f99f24; */
    padding: 12px;
    margin: -24px 0 24px -24px!important;
    width: 200%;
    color: #ffffff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff !important;
    margin: 0 0 10px 20px;
}

.discrip {
    height: 165px;
    font-size: 20px;
    resize: none;
    padding-top: 10px;
}

.normalheading {
    padding: 12px;
    border-radius: 1rem;
    color: #ffffff !important
}

.sidee {
    background-color: #2B2B52;
}

.main-bg {
    background-image: url('../images/gallery/top.png');
    /* background-repeat: no-repeat; */
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #1b1a69;
}

.main-sl {
    background-color: #1b1a69;
}

.navicon {
    height: 35px;
    margin: 0 0px -11px 0px;
}

.logoimg {
    height: 55px!important;
    margin: -2% 7% -2% -35%;
}

.whitegrade {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.pl-20 {
    padding-left: 20% !important;
}

a.ho_ac:hover,
a.ho_ac:active {
    color: black!important;
    text-decoration: underline;
    background: white;
    font-size: 120%;
}

.ml-07 {
    margin-left: 0%!important;
}

.requestcount {
    position: absolute;
    top: 4px;
    color: white;
    background-color: red;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 18px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}

.bb-1 {
    border: 2px #ffffff solid;
    border-radius: 1rem;
}

@media only screen and (max-width: 1650px) {
    .logoimg {
        margin: -3% 3% -14px -37%;
    }
    .navicon {
        height: 25px;
        margin: 0 12px -9px -12px;
    }
    .navtext {
        font-size: 13px;
    }
    .secmc {
        font-size: 16px!important;
    }
    .ml-07 {
        margin-left: -15%!important;
    }
}

.formview {
    color: white!important;
    margin-bottom: -5%!important;
}

.visitorimg {
    margin-top: 6%!important;
    max-width: 225px!important;
    border: 1px #ffffff solid!important;
    border-radius: 1rem!important;
}

.nightclub {
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.whitecolour {
    color: white!important;
}

.w-3m-3 {
    width: auto!important;
    margin: 3%!important;
}

@media only screen and (max-width: 900px) {
    .responce {
        width: auto!important;
    }
}

.icons {
    width: 6%!important;
    margin: 0!important;
}

.b2w {
    border: 2px white solid;
}

.blackgrade {
    background: #37474f;
}